/* MOBILE */
#ItemDetailsPage {
  margin: 2%;
}
#ItemDetailsPage .container {
  position: relative;
}
.image-detail {
  width: 96vw;
  z-index: 1;
}
.heart-img {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  opacity: 0.6;
  z-index: 2;
}
#ItemDetailsPage p {
  margin-top: 10px;
  font-weight: 400;
}

#ItemDetailsPage h2 {
  letter-spacing: 3px;
  font-weight: 400;
  margin-top: 1vh;
}

#ItemDetailsPage h3 {
  font-weight: 300;
}
.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 0 auto;
}
#ItemDetailsPage .button-detail {
  color: black;
  background-color: transparent;
  font-weight: 600;
  font-size: 3vh;
  margin-top: 2vh;
}

#ItemDetailsPage .euro-logo {
  transform: translateY(3px);
  font-weight: 200;
}

#ItemDetailsPage .button-detail:hover {
  background: black;
  color: white;
}
#ItemDetailsPage .more-Info {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
}
@keyframes showAnim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes upanddown {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(5px);
  }
}

#ItemDetailsPage .show-logo {
  font-size: 25px;
  cursor: pointer;
  animation: upanddown 1s alternate forwards infinite;
}
#ItemDetailsPage .display-info {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  animation: showAnim 1s ease-in-out alternate forwards;
}

#ItemDetailsPage .display-info button {
  margin-top: 10px;
}

/* DESKTOP */
@media screen and (min-width: 1060px) {
  #ItemDetailsPage {
    display: flex;
    margin: 0 1%;
  }

  .image-detail {
    width: 45vw;
    height: 91vh;
    object-fit: cover;
  }

  .container-text {
    margin: 15% 0 0 5%;
  }
  .button-detail {
    color: white;
    background-color: black;
    min-width: 400px;
    margin-top: 30px;
  }

  #ItemDetailsPage button:hover {
    background: black;
  }
  #ItemDetailsPage p {
    font-weight: 300;
  }

  #ItemDetailsPage .price {
    font-weight: 400;
    margin-bottom: 4vh;
  }

  #ItemDetailsPage .button-detail {
    margin-top: 15vh;
    background-color: black;
    color: white;
    font-weight: 400;
    padding: 1.5vh;
  }
}
/* TABLET */
@media screen and (min-width: 600px) and (max-width: 1060px) {
  .image-detail {
    height: 60vh;
    object-fit: cover;
  }
  .container-button {
    margin-top: 8%;
  }
}
