/* MOBILE */
#ItemDetailsPage {
  margin: 2%;
  margin-top: 20px;
}
#ItemDetailsPage .container {
  position: relative;
}
.goBackButton {
  font-size: 20px;
  animation: goBack 1s ease-in-out alternate forwards infinite;
  cursor: pointer;
}

#ItemDetailsPage .goBackButton:hover {
  animation: none;
}

@keyframes goBack {
  from {
    transform: translateX(-5px);
  }
  to {
    transform: translateX(10px);
  }
}
.image-detail {
  width: 96vw;
  z-index: 1;
  height: 67vh;
  object-fit: cover;

  animation: Smooth 2s cubic-bezier(0.075, 0.82, 0.165, 1) alternate;
}
.heart-img {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 40px;
  opacity: 1;
  z-index: 2;
  cursor: pointer;
  animation: Smooth 2s cubic-bezier(0.075, 0.82, 0.165, 1) alternate;
}

.container-text {
  animation: SmoothRev 2s cubic-bezier(0.075, 0.82, 0.165, 1) alternate;
}
#ItemDetailsPage p {
  margin-top: 7px;
  font-weight: 400;
}

#ItemDetailsPage h2 {
  letter-spacing: 3px;
  font-weight: 400;
  margin-top: 0.5vh;
}

#ItemDetailsPage h3 {
  font-weight: 300;
}
.container-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 0 auto;
}
#ItemDetailsPage .button-detail {
  color: black;
  background-color: transparent;
  font-weight: 500;
  font-size: 2.5vh;
  margin: 1vh;
  padding: 4px;
}

#ItemDetailsPage .euro-logo {
  transform: translateY(3px);
  font-weight: 200;
}

#ItemDetailsPage .more-Info {
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
}
.button-detail.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.display-info button {
  background: transparent;
}

.display-info a {
  color: black;
  font-size: 2vh;
  font-weight: 400;
}

@keyframes showAnim {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes upanddown {
  from {
    transform: translateY(-3px);
  }
  to {
    transform: translateY(3px);
  }
}

#ItemDetailsPage .show-logo {
  font-size: 25px;
  cursor: pointer;
  animation: upanddown 1s alternate forwards infinite;
}
#ItemDetailsPage .display-info {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  animation: showAnim 0.5s ease-in-out alternate forwards;
}

#ItemDetailsPage .display-info button {
  margin-top: 10px;
}

/* DESKTOP */
@media screen and (min-width: 1060px) {
  #ItemDetailsPage {
    display: flex;
    width: 95vw;
    margin: 9vh 1vw;
  }

  .goBackButton {
    position: absolute;
    font-size: 30px;
    top: 80px;
  }

  .image-detail {
    width: 43vw;
    height: 90vh;
    object-fit: cover;
  }

  .container-text {
    margin: 15% 0 0 5%;
  }
  .button-detail {
    color: white;
    background-color: black;
    min-width: 400px;
    margin-top: 30px;
  }

  #ItemDetailsPage p {
    font-weight: 300;
  }

  #ItemDetailsPage .price {
    font-weight: 400;
    margin-bottom: 4vh;
  }

  #ItemDetailsPage .button-detail {
    margin-top: 15vh;
    background-color: black;
    color: white;
    font-weight: 400;
    padding: 1.5vh;
  }

  #ItemDetailsPage .show-logo {
    margin-top: 3vh;
  }

  .display-info button:hover {
    background: transparent;
  }

  .display-info a {
    font-size: 2.5vh;
  }
}
/* TABLET */
@media screen and (min-width: 600px) and (max-width: 1060px) {
  .image-detail {
    height: 60vh;
    object-fit: cover;
  }
  .container-button {
    margin-top: 8%;
  }
}
