/* Mobile */
#LoginPage {
  text-align: left;
}

#LoginPage h1 {
  padding: 10px;
}
.inputLogin {
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  width: 100%;
  text-align: left;
  gap: 10px;
}

.inputflex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin: 40px auto 0px;
  width: 90%;
}

.inputLogin input {
  border: 1px solid;
  padding: 12px;
  margin-bottom: 20px;
}

.create-account {
  font-family: "League Spartan", sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  width: 90%;
  margin: -15px auto 15px;
}

.nextButton {
  display: flex;
  justify-content: center;
}

.nextHome {
  width: 90%;
  padding: 12px;
  font-weight: 300;
  font-size: 17px;
}

.wishlist {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: small;
  padding-bottom: 20px;
}

.wishlist .heart {
  font-size: 25px;
}

.login-image-container {
  width: 100vw;
  overflow: hidden;
  background-image: url(src/assets/images/illustrations/flower2.png);
  background-position: cover;
  background-size: cover;
  height: 52vh;
}

.flowerLogin {
  transform: scale(1.1);
}

/* desktop */

@media screen and (min-width: 1024px) {
  .inputflex {
    width: 35%;
  }

  .create-account {
    width: 35%;
  }

  .nextHome {
    width: 35%;
  }

  .wishlist {
    width: 35vw;
    font-size: 20px;
    gap: 15px;
  }
  .login-image-container {
    width: 100vw;
    margin: 0;
    background-image: url(src/assets/images/illustrations/flower2bis.png);
    background-position: center;
    background-size: cover;
    height: 43vh;
  }

  .flowerLogin {
    height: 45vh;
    width: 100%;
  }
}
