.heart-logo {
  display: none;
  z-index: 10;
}
.card {
  width: 300px;
  height: 420px;
  position: relative;
  transition: all 0.1s ease-in-out;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  margin: 5px;
}
.card-title {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  letter-spacing: 2px;
  padding: 12px 0 0 0;
  color: #000;
  width: 100%;
  margin: 0 auto;
  line-height: 10px;
  background-color: white;
  height: 100%;
  font-weight: 400;
}
.price-and-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  padding-bottom: 5px;
}
.price-and-logo .price {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3px;
}
.price span {
  transform: translateY(1px);
}
.card p {
  font-family: "League Spartan", sans-serif;
  font-size: 17px;
  padding-bottom: 5px;
  line-height: 14px;
}
.cart {
  font-size: 25px;
  display: none;
}
.card-picture {
  object-fit: cover;
  background-image: cover;
  width: 300px;
  height: 350px;
  z-index: -1;
}
.logo-container {
  display: none;
  position: absolute;
  top: 42%;
  left: 14%;
  transform: translateY(-50%);
  gap: 30px;
  width: 80%;
  margin: 0px auto;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}
.logo-container div {
  padding: 5px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
  border: solid 2px white;
  z-index: 100;
}
.icon.disabled {
  pointer-events: none;
  opacity: 0.5;
}
.icon {
  font-size: 25px;
  color: white;
}
.icon:hover {
  font-size: 30px;
}
.card:hover .card-picture {
  filter: blur(2px) brightness(0.7);
}
.card:hover .logo-container {
  display: flex;
}
.logo-container div:hover {
  cursor: pointer;
  width: 60px;
  height: 60px;
  transform: translateY(-20px);
}

@media screen and (max-width: 1024px) {
  .card {
    max-width: 150px;
    min-width: 150px;
    height: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 5px;
    border-radius: 0px;
  }
  .card-picture {
    object-fit: cover;
    background-image: cover;
    width: 150px;
    height: 160px;
    z-index: 1;
  }
  .card-title {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    padding: 3px;
    color: #000;
    width: 98%;
    margin: 0 auto;
    line-height: 10px;
  }
  .price-and-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    padding-bottom: 5px;
  }
  .price-and-logo .price {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3px;
  }
  .price span {
    transform: translateY(1px);
  }
  .card p {
    font-family: "League Spartan", sans-serif;
    font-size: 12px;
    padding: 0;
  }
  .logo-container {
    display: none;
    gap: 30px;
    width: 80%;
    margin: 0px auto;
    transition: all 0.5s ease-in-out;
    background-color: #000;
  }
  .cart {
    font-size: 15px;
    display: block;
  }
  .cart.disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  .card:hover .logo-container {
    display: none;
  }
  .card:hover .card-picture {
    filter: blur(0px);
    opacity: 1;
  }
  .heart-logo {
    position: absolute;
    display: flex;
    width: 2vh;
    height: 2vh;
    top: 8px;
    right: 6px;
    font-size: 18px;
  }
}
