/* MOBILE */
.input-image {
  height: 25vh;
  text-align: center;
  font-size: 2vh;
  font-weight: 600;
}

.inputs-section {
  height: 72vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  object-fit: cover;
}
.input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  background: rgba(255, 255, 255, 70%);
  padding: 1vh 0;
}

.input-image-div {
  display: flex;
  justify-content: center;
  background-color: #d4d4d4;
}

.input-image::placeholder {
  color: black;
}

#sellingPage input {
  border: none;
  background: transparent;
}

#sellingPage select {
  background: transparent;
  border: none;
  height: 4vh;
}

#sellingPage label {
  font-size: 2.5vh;
  margin-left: 1vw;
}

#sellingPage .error-picture {
  text-align: center;
  background-color: #d4d4d4;
}

#sellingPage .error {
  text-align: center;
}
#sellingPage .add-button {
  width: 80vw;
  height: 5vh;
  font-size: 2vh;
  font-weight: 500;
  background: linear-gradient(43deg, black, transparent);
}
.button-div {
  display: flex;
  justify-content: center;
}
/* DESKTOP */
@media screen and (min-width: 1060px) {
  #sellingPage {
    max-height: 100vh;
  }

  .input-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    background: rgba(255, 255, 255, 70%);
    padding: 1vh 0;
    margin: 0 30% 2% 30%;
  }

  .input-image-div {
    height: 25vh;
  }
  .all-input {
    position: fixed;
  }

  .inputs-section {
    padding-top: 2%;
    height: 66vh;
  }
}

#sellingPage .add-button {
  width: 23vw;
  height: 5vh;
  font-size: 2vh;
  font-weight: 500;
  background: linear-gradient(43deg, black, transparent);
}

/* TABLET */
@media screen and (max-width: 1060px) {
}
