/* MOBILE */
.input-image {
  font-size: 1rem;
}
.preview-image {
  max-width: 100%;
  max-height: 100px;
  display: block;
  margin-top: 5vh;
  margin-bottom: 5vh;
  object-fit: contain;
  height: 20vh;
}
.pg-validation {
  margin-top: 13vh;
  margin-bottom: 11vh;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  color: black;
  font-family: "League Spartan", sans-serif;
  text-decoration: none;
}
.container-picture {
  display: flex;
  flex-direction: column;
}
.container-validation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inputs-section {
  height: 72vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  object-fit: cover;
}
.input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  background: rgba(255, 255, 255, 80%);
  padding: 1vh 0;
}

.input-image-div {
  display: flex;
  background-color: #d4d4d4;
  justify-content: space-evenly;
}

.input-image::placeholder {
  color: black;
}

#sellingPage input {
  border: none;
  background: transparent;
}

#sellingPage select {
  background: transparent;
  border: none;
  height: 4vh;
}

#sellingPage #backgroundVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(4px) grayscale(0.2);
}

#sellingPage label {
  font-size: 2vh;
  margin-left: 1vw;
}

#sellingPage .error-picture {
  text-align: center;
  background-color: #d4d4d4;
  color: #c50000c7;
  font-weight: 300;
}

#sellingPage .error {
  text-align: center;
  color: #c50000c7;
  font-weight: 300;
}
#sellingPage .add-button {
  width: 80vw;
  height: 5vh;
  font-size: 2vh;
  font-weight: 500;
  background: linear-gradient(43deg, black, transparent);
}
.button-div {
  display: flex;
  justify-content: center;
}

.container-picture,
.container-validation {
  position: relative;
}

/* DESKTOP */
@media screen and (min-width: 1060px) {
  #sellingPage {
    overflow-y: hidden;
  }
  #backgroundVideo {
    min-height: 100vh;
  }
  .preview-image {
    margin-top: 8vh;
  }
  .input-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    background: rgba(255, 255, 255, 70%);
    padding: 1vh 0;
    margin: 0 30% 2% 30%;
  }

  .input-image-div {
    height: 30vh;
  }
  .all-input {
    position: fixed;
  }

  .inputs-section {
    padding-top: 2%;
    height: 66vh;
  }
}

#sellingPage .add-button {
  width: 23vw;
  height: 5vh;
  font-size: 2vh;
  font-weight: 500;
  background: linear-gradient(43deg, black, transparent);
}

/* TABLET */
@media screen and (max-width: 1060px) {
}
