/* DESKTOP */

/* .all-containers{
  display: grid;

} */
.category-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1.5vh;
}
.category-title {
  font-family: League Spartan;
  font-size: 5vh;
  margin: 4vh 1vh 1vh 6vh;
  letter-spacing: 5px;
}

.order-title {
  font-family: "League Spartan";
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 1px;
  margin: 0 4vw;
  font-size: 3vh;
}

.category-image {
  width: 98vw;
  height: 60vh;
  background-position: center;
  background-size: cover;
  object-fit: contain;
}

/* TABLET */
@media screen and (min-width: 600px) and (max-width: 1060px) {
}
/* MOBILE */
@media screen and (max-width: 600px) {
  .category-image {
    width: 95vw;
    height: 60vh;
    background-position: top;
    background-size: cover;
    object-fit: contain;
  }

  .category-title {
    font-family: League Spartan;
    font-size: 4vh;
    margin: 3vh 2vh 1vh 2vh;
    letter-spacing: 5px;
  }

  .order-title {
    font-family: "League Spartan";
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    margin: 0 4vw;
  }
}
