/* DESKTOP TABLET*/

@media screen and (min-width: 600px) {
  .all-containers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  .all-video-containers {
    width: 100vw;
    height: 600px;
  }

  .cat-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  .cat-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .slide {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .slide:hover .cat-video {
    filter: blur(4px);
  }

  .text-container {
    text-align: center;
    z-index: 50;
    margin: 200px auto;
    visibility: hidden;
    cursor: pointer;
    animation: visibleShow 2s cubic-bezier(0.075, 0.82, 0.165, 2) alternate;
  }

  .slide:hover .text-container {
    visibility: visible;
    animation: visibleShow 2s alternate;
  }
  .text-container h1 {
    color: white;
    text-shadow: 0 0 15px black;
    font-weight: 100;
    font-size: 40px;
    margin-bottom: 5px;
  }

  .text-container h2 {
    font-size: 100px;
    color: white;
    text-shadow: 0 0 15px black;
    font-weight: 200;
    letter-spacing: 5px;
  }

  .category-container {
    cursor: pointer;
  }

  .all-containers > :nth-child(1) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }

  .all-containers > :nth-child(2) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }

  .all-containers > :nth-child(3) {
    grid-row-start: span 1;
    grid-column-start: span 1;
  }

  .all-containers > :nth-child(4) {
    grid-row-start: span 1;
    grid-column-start: span 1;
  }

  .all-containers > :nth-child(5) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }
  .all-containers > :nth-child(6) {
    grid-row-start: span 1;
    grid-column-start: span 2;
  }

  .category-title {
    font-family: League Spartan;
    font-size: 5vh;
    padding: 10px 30px;
    letter-spacing: 5px;
  }

  .order-title {
    font-family: "League Spartan";
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    padding: 1px 30px;
    font-size: 3vh;
  }

  .category-image {
    height: 80vh;
    background-position: center;
    background-size: cover;
    object-fit: contain;
  }
}
/* MOBILE */
@media screen and (max-width: 600px) {
  .category-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 1.5vh;
  }
  .category-image {
    width: 95vw;
    height: 60vh;
    background-position: top;
    background-size: cover;
    object-fit: contain;
  }

  .category-title {
    font-family: League Spartan;
    font-size: 4vh;
    margin: 3vh 2vh 1vh 2vh;
    letter-spacing: 5px;
  }

  .order-title {
    font-family: "League Spartan";
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    margin: 0 4vw;
  }

  .text-container h2 {
    font-size: 50px;
    color: white;
    text-shadow: 0 0 15px black;
    letter-spacing: 3px;
  }

  .text-container h1 {
    color: white;
    text-shadow: 0 0 15px black;
  }
  /*video SLIDER  */

  .all-video-containers {
    width: 100vw;
    height: 500px;
  }

  .cat-video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
  }
  .cat-video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .swiper {
    width: 100%;
    height: 100%;
  }
  .slide {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .text-container {
    text-align: center;
    z-index: 10;
    margin: 200px auto;
  }
  .text-container h2 {
    font-size: 40px;
  }
}
