/* MOBILE */
.background-image {
  height: 95vh;
  background-size: cover;
  background-position: right;
  background-image: url("../../../assets/images/illustrations/flower3.jpeg");
}
#AdminPage h1 {
  color: white;
  text-align: center;
  padding-top: 20%;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  font-size: 2.3rem;
}

.admin-profile {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 10px 0;
  padding-left: 2%;
  font-weight: 300;
  margin-top: 14%;
  cursor: pointer;
}
#AdminPage p {
  margin-left: 2%;
  margin-top: 1%;
  font-weight: 400;
  width: 100vw;
}

#AdminPage .articles-displayed-container {
  background-color: rgb(255, 255, 255, 0.9);
  height: 50vh;
  padding-left: 2%;
  font-weight: 300;
  margin-top: 2%;
  overflow: hidden;
  overflow-y: auto;
}

#AdminPage .admin-title {
  font-weight: 500;
  font-size: 17px;
  margin-top: 20px;
}

#AdminPage img {
  height: 16vh;
  width: 28vw;
  object-fit: cover;
  padding-top: 10px;
}

#AdminPage .admin-images {
  display: flex;
  flex-direction: column;
}

#AdminPage .admin-all-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#AdminPage .admin-name-details-price {
  display: flex;
  flex-direction: column;
}

#AdminPage .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 15px 0;
}

#AdminPage .buttons :nth-child(1):hover {
  background-color: red;
}

#AdminPage .buttons :nth-child(2):hover {
  background-color: rgb(12, 137, 3);
}

#AdminPage .index {
  margin-top: 20px;
}

#AdminPage .wider {
  height: 85vh;
  width: 90vw;
  position: absolute;
  top: 10vh;
  right: 5vw;
  object-fit: cover;
  z-index: 999;
}

/* DESKTOP */
@media screen and (min-width: 1060px) {
  .background-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    height: 91vh;
    background-size: cover;
    background-position: top;
    object-fit: cover;
    background-image: url("../../../assets/images/illustrations/flower4.png");
  }

  #AdminPage .ring-profile {
    width: 5vw;
  }
  #AdminPage h1 {
    padding-top: 0;
    padding-bottom: 4%;
    font-size: 5rem;
  }
  .admin-profile {
    margin-top: 0%;
    padding: 0.8rem;
    width: 35vw;
  }

  #AdminPage .articles-displayed-container {
    height: 60vh;
    width: 90vh;
  }

  #AdminPage .admin-all-details {
    align-items: flex-start;
  }

  #AdminPage img {
    height: 20vh;
    width: 10vw;
    object-fit: cover;
    padding-top: 10px;
  }

  #AdminPage .wider {
    height: 85vh;
    width: 50vw;
    position: absolute;
    top: 10vh;
    right: 26vw;
    object-fit: contain;
    z-index: 999;
  }

  #AdminPage p {
    font-size: 15px;
    font-weight: 400;
    width: 100vw;
  }
}
